{% extends "base.html" %}

{% block content %}
    <h1 class="details-h1">
        Album Details
        <div class="details-actions">
            <a class="btn btn-edit" href="{% url 'album_edit' pk=album.pk %}">
                Edit {% include './icons/pencil-fill.svg' %}
            </a>
            <a class="btn btn-delete" href="{% url 'album_delete' pk=album.pk %}">
                Delete {% include './icons/trash.svg' %}
            </a>
        </div>
    </h1>
    <div class="song-details">
        <p>Title: {{ album.title }}</p>
        <p>Artist: {{ album.artist }}</p>
        <p>Release Date: {{ album.release_date}}</p>
    </div>
    
{% endblock content %}