{% extends "base.html" %}

{% block title %} Home {% endblock title %}


{% block content %}
    <h1>Album List</h1>
    <div class="container">
        {% for album in albums %}
            <div class="album-box">
                <!-- Use double curly braces to render -->
                <a href="{% url 'album_detail' pk=album.pk %}">{{ album.title }}</a>
                <div class="list-actions">
                    <a class="btn btn-edit" href="{% url 'album_edit' pk=album.pk %}">
                        Edit {% include './icons/pencil-fill.svg' %}
                    </a>
                    <a class="btn btn-delete" href="{% url 'album_delete' pk=album.pk %}">
                        Delete {% include './icons/trash.svg' %}
                    </a>
                </div>
            </div>
            <div class="artist-list">
                <a href="{% url 'album_detail' pk=album.pk %}">by {{ album.artist}}</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}